<!DOCTYPE html>
<html lang="en">
<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115174468-1"></script>
	<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());

  		gtag('config', 'UA-115174468-1');
	</script>
<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">


	<!-- <script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/hci-friends.js"></script> -->

	<link rel="stylesheet" type="text/css" href="css/bootstrap2.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="css/hci-friends.css">
	<title>Mark_setting</title>

</head>
<style type="text/css">
	body{
		background-color: #ff6c24;
	}

</style>
<body>
<div class="container">

<!-- 	<div class="center"> -->
    <a href="../alt"><img src="../images/home_R.jpg" class="img-responsive" width="80" alt="home" align="left"> </a>
	<div class="setting" div style="text-align: center;"><img src="../../images/setting_R.JPG" class="img-responsive" width="160" alt="setting">

	<a href="../alt_map/"><img src="../images/Map_R.JPG" class="img-responsive" width="80" alt="map" align="right"> </a>
<div align="left">

		<div align="left">
	  <p><br>
	    <strong>Voice Control </strong>
		 <a href="../alt_setting/"><img src="../../images/on.png" class="img-responsive" width="40" height="40" alt="edit" align="right"> </a>

		  <br>
				  <br>
		  <br>
		  <br>
		  <br>
		  <br>
		  <br>
		  <br>
		  <br>
		  <br>
		  <br>
		  <br>
		  <br>
		  <br>
		  <br>
		  <br>

		</div>
		
</div>
<!-- 	<canvas id="canvas"></canvas>
 --></div>
	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
