<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115174468-1"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-115174468-1');
  </script>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- <script src="/js/jquery-1.11.0.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/hci-friends.js"></script> -->

  <link rel="stylesheet" type="text/css" href="css/bootstrap2.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
  <link rel="stylesheet" type="text/css" href="css/hci-friends.css">
  <title>Mark_map</title>

</head>
<style type="text/css">
  body{
    background-color: #ff6c24;
  }

</style>
<body>
<div class="container">

<!-- 	<div class="center">
 -->    
    <a href="../alt"><img src="../images/home_R.jpg" class="img-responsive" width="80" alt="home" align="left"> </a>
	<div class="map" div style="text-align: center;"><img src="../images/Map_R.JPG" class="img-responsive" width="160" alt="setting">
	<a href="../alt_setting/"><img src="../../images/setting_R.JPG" class="img-responsive" width="80"  alt="setting" align="right"> </a>
	<p><hr></p><br><br><br>
	<div id="map" style="width:370px;height:414px;" align="center">

	<script>	
		function myMap() {
    		var mapOptions = {
        	center: new google.maps.LatLng(32.87, -117.23),
  	      zoom: 10

   		 }
		var map = new google.maps.Map(document.getElementById("map"), mapOptions);
		var myLatLng = {lat: 32.87, lng: -117.23};
        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Current'
        });
		var myLatLng2 = {lat: 32.92, lng: -117.1};
        var marker2 = new google.maps.Marker({
          position: myLatLng2,
          map: map,
          title: 'R1'
        });
		var myLatLng3 = {lat: 32.8, lng: -117.08};
       	var marker3 = new google.maps.Marker({
          position: myLatLng3,
          map: map,
          title: 'R2'
        });
	var myLatLng4 = {lat: 32.7, lng: -117.03};
        var marker4 = new google.maps.Marker({
          position: myLatLng4,
          map: map,
          title: 'R3'
        });
	var myLatLng5 = {lat: 32.75, lng: -117.2};
        var marker5 = new google.maps.Marker({
          position: myLatLng5,
          map: map,
          title: 'R4'
        });
}
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASrllbZEPPaW5QvHUG7fXx4QdJUQZxRSI&callback=myMap"></script>
	  </div>
</div>
</div>
	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
