<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- 	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/hci-friends.js"></script> -->

	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="../css/hci-friends.css">
		<title>Mark_list</title>

</head>
<style class="container">

</style>
<body>
<div class="container">

<!-- 	<div class="center">
 -->    <a href="../"> <img src="../images/Home icon.png" class="img-responsive" width="50" height="50" alt="home" align="left"> </a>
	<div class="list" div style="text-align: center;"><img src="../images/Messaging-Note-icon.png" class="img-responsive" width="80" height="100" alt="setting">
	<a href="../setting/"><img src="../../images/setting icon.png" class="img-responsive" width="50" height="50" alt="setting" align="right"> </a>
	<p><hr></p>
	{{#each location_list}}
		<div class="location_list">


			<div align="left">
	  		<p><br>
	    	<br><br>
	    <strong>{{time}} </strong><br>
	    <strong>Location</strong>: {{location}}<br><strong>
	    Note</strong>: {{Note}}<br></p>		
		</div>
			
		</div>
		<hr>
	{{/each}}
	
<!-- 	<canvas id="canvas"></canvas>
 --></div>
	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
