<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- 	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/hci-friends.js"></script> -->

	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="../css/hci-friends.css">
			<title>Mark_setting</title>

</head>
<style class="container">

</style>
<body>
<div class="container">

<!-- 	<div class="center">
 -->    <a href="../"> <img src="../images/Home icon.png" class="img-responsive" width="50" height="50" alt="home" align="left"> </a>
	<div class="setting" div style="text-align: center;"><img src="../images/setting icon.png" class="img-responsive" width="80" height="100" alt="setting">

	<a href="../map/"><img src="../../images/Maps-Map-Marker-icon.png" class="img-responsive" width="50" height="50" alt="setting" align="right"> </a>
<div align="left">

		<div align="left">
	  <p><br>
	    <strong>Voice Control </strong>
		 <a href="../setting2/"><img src="../../images/off.png" class="img-responsive" width="40" height="40" alt="edit" align="right"> </a>

		  
		  <br>
				  <br>
		  <br>
		  <br>
		  <br>
		  <br>
		  <br>
		  <br>
		  <br>
		  <br>
		  <br>
		  <br>
		  <br>
		  <br>
		  <br>
		  <br>
		
		</div>
		
</div>
<!-- 	<canvas id="canvas"></canvas>
 --></div>
	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
